{% if theme_config.footer.custom_html.enabled %}
  {{ theme_config.footer.custom_html.content|markdown }}
{% else %}
  {% set columns %}
    {% if theme_config.footer.content|length > 0 %}
      medium-{{ 12 // theme_config.footer.content|length }}
    {% else %}
      medium-{{ 12 }}
    {% endif %}
  {% endset %}
  {% for column in theme_config.footer.content %}
    <div class="small-12 {{columns}} columns footer-panel">
      {{ column.contents|markdown }}
    </div>
  {% endfor %}
{% endif %}
