{% if theme_config.footer.custom_html.enabled %}
  {{ theme_config.footer.custom_html.content|markdown }}
{% else %}
  {% set columns %}
    {% if theme_config.footer.content|length > 0 %}
      medium-{{ 12 // theme_config.footer.content|length }}
    {% else %}
      medium-{{ 12 }}
    {% endif %}
  {% endset %}
  <div class="footer-content row show-for-medium">
    {% for column in theme_config.footer.content %}
      <div class="{{columns}} columns footer-panel">
        <div class="footer-panel-content">
          {{ column.panel|markdown }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% for column in theme_config.footer.content %}
    <div class="footer-content row show-for-small-only">
      <div class="small-12 columns">
        <div class="footer-panel-content">
          {{ column.panel|markdown }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
