.background-image-container {
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background-image-src {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: -10%;
  bottom: 10%;
  left: -10%;
  right: 10%;
  width: 120%;
  height: 120%;
  @include breakpoint(medium) {
    background: url('../../aerendur/images/landscape-bg.jpg') center center;
  }
  @include breakpoint(small) {
    background: url('../../themes/aerendur/images/portrait-bg.jpg') center center;
  }
}

.background-image-src.blurred-image {
  opacity: 0;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}

.background-gradient {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: -10%;
  bottom: 10%;
  right: 10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(to right bottom, rgba(117,225,191,0.1), rgba(70,148,240,0.1));
}
